# Ignore Python virtual environments
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore our large local lambda package dependencies
lambda_package/

# Ignore trained model artifacts
artifacts/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/